---
import MainLayout from "../layouts/MainLayout.astro"
import {getCollection, type CollectionEntry} from "astro:content";
const posts: CollectionEntry<"blog">[] = await getCollection ("blog");

const latest = posts.sort((a: CollectionEntry<"blog">, b:CollectionEntry<"blog">) => b.data.date.getTime() - a.data.date.getTime()).slice(0, 6);
const categories = [...new Set(posts.map((p: CollectionEntry<"blog">) => p.data.category))];
const getPostSlug = (id: string) => id.replace (".mdx", "").replace(".md", "");

---
<meta charset="utf-8" />
<MainLayout title="Home">
<section class="postGrid">
<h2 class="h2">Últimos posts</h2>
<p>Bienvenidos a las páginas que te servirán de refugio y desahogo</p>
<ul>
{latest.map((post: CollectionEntry<"blog">) => (
    <li>
    <a href={`/blog/${getPostSlug(post.id)}`} class="card">
    <span class="card-category">{post.data.category}</span>
    <h3 class="card-title">{post.data.title}</h3>
    <p class="card-subtitle">{post.data.subtitle}</p>
    <time class="card-date"> {post.data.date.toLocaleDateString("es-ES", { day: "numeric", month: "long", year: "numeric" })}
    </time>
    </a>
    </li>
))}</ul>
</section>
</MainLayout>
<style>
.postGrid {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 30px 16px;
}

.h2{
font-family: Georgia, serif;
font-size: 25px;
background: linear-gradient(to bottom, #342f2f, #fb90ab);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  background-clip: text;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.card {
    display: block;
    width: 100%;
    max-width: 520px;
    padding: 30px 33px;
    text-decoration: none;
    border-radius: 18px;
    border: 1px solid rgba(201, 81, 111, 0.12);
    box-shadow:
      0 2px 8px rgba(0, 0, 0, 0.04),
      0 8px 32px rgba(201, 81, 111, 0.07);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

  .card:hover {
    box-shadow:
      0 4px 16px rgba(0, 0, 0, 0.07),
      0 12px 40px rgba(201, 81, 111, 0.13);
    transform: translateY(-2px);
  }

  .card-category {
    font-size: 12px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #c9516f;
    font-family: Arial, sans-serif;
  }

  .card-title {
    font-family: Georgia, serif;
    font-size: 18px;
    background: linear-gradient(to bottom, #342f2f, #fb90ab);
     -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-weight: 400;
    margin: 8px 0 6px;
    line-height: 1.4;
  }

  .card-subtitle {
    font-family: Georgia, serif;
    font-size: 14px;
    color: #888;
    font-style: italic;
    margin-bottom: 14px;
    line-height: 1.5;
  }

  .card-date {
    font-size: 11px;
    color: #bbb;
    font-family: Arial, sans-serif;
  }
</style>