---
const {title} = Astro.props
---

<html lang="es">
<head>
<meta charset="utf-8" />
<link rel="icon" type="image/png" href="https://res.cloudinary.com/du5e2crvt/image/upload/v1777023653/Captura_de_pantalla_2026-04-24_114038_ryb6du.png" />
<meta name="viewport" content="width=device-width" />
<title>{title}</title>
</head>
<body>
 <header class="mainHeader">
    <a href="/" class="logo">
        <img src="https://res.cloudinary.com/du5e2crvt/image/upload/v1777023268/Captura_de_pantalla_2026-04-24_113406_y5pars.png"
         alta="blogLove"
         class="lovo-img"
         style="width: 230px; height: auto;" />
    </a>
 </header>
 <nav class="site-nav">
  <a href="/" class="nav-link">Inicio</a>
  <a href="/about" class="nav-link">Quiénes somos</a>
 </nav>
 <h1 class="page-title">{title}</h1>
 <slot />
 <script>
  window.addEventListener("scroll", () => {
    const header = document.querySelector(".mainHeader");
    if (window.scrollY > 50) {
      header.classList.add("scrolled");
    } else {
      header.classList.remove("scrolled");
    }
  });
</script>
</body>
</html>

<style>

.mainHeader {
  display: flex;
  justify-content: center;
  padding: 20px;
  position: sticky;
  top: 0;
  background: white;
  z-index: 100;
  transition: justify-content 0.5s ease;
}

.logo {
  transition: transform 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transform: translateX(0);
}

.mainHeader.scrolled .logo {
   transform: translateX(calc(-50vw + 130px));
}

.nav-link {
  display: flex;
  gap: 20px;
  justify-content: center;
  text-decoration: none;
  font-family: Georgia, serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.4;
  background: linear-gradient(to bottom, #342f2f, #fb90ab);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.page-title {
  text-align: center;
  font-family: Georgia, serif;
  font-size: 25px;
  font-weight: 400;
  margin: 8px 0 6px;
  line-height: 1.4;
  color: #080808;
}

</style>