---
const {title} = Astro.props
---

<hmtl lang="es">
<head>
<meta charset="utf-8" />
<link rel="icon" type="image/png" href="/favicon.png" />
<meta name="viewport" content="width=device-width" />
<title>{title}</title>
</head>
<body>
 <header class="mainHeader"></header>
    <a href="/">
        <img src="https://res.cloudinary.com/du5e2crvt/image/upload/v1777023268/Captura_de_pantalla_2026-04-24_113406_y5pars.png"
         alta="blogLove"
         class=lovo-img"
         style="width: 230px; height: auto;" />
    </a>
 </header>
 <h1>{title}</h1>
 <slot />
 
</body>
</html>